<h1>JAISTbookとは？</h1>
<p>JAISTbookとはJAIST生のために作られた記事投稿SNSサービスです。</br>
普段山の中で情報を遮断され隔離されているJAIST生でも近況やつぶやきを</br>
投稿し、サービス上の友達と楽しくコミュニケーションできます。</p>
<p><%= link_to "Where is JAIST?", root_path ,class: "btn btn-large register-btn"%></p>
